In [1]:
import pandas as pd
import numpy as np
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import Embedding

In [2]:
df=pd.read_csv(r'train.csv')

In [3]:
df

          id  ... label
0          0  ...     1
1          1  ...     0
2          2  ...     1
3          3  ...     1
4          4  ...     1
...      ...  ...   ...
20795  20795  ...     0
20796  20796  ...     0
20797  20797  ...     0
20798  20798  ...     1
20799  20799  ...     1

[20800 rows x 5 columns]

In [4]:
df2 = pd.read_csv(r'test.csv')

In [5]:
df2

         id  ...                                               text
0     20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1     20801  ...  Russian warships ready to strike terrorists ne...
2     20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3     20803  ...  If at first you don’t succeed, try a different...
4     20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...     ...  ...                                                ...
5195  25995  ...  Of all the dysfunctions that plague the world’...
5196  25996  ...  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197  25997  ...  Good morning. (Want to get California Today by...
5198  25998  ...  « Previous - Next » 300 US Marines To Be Deplo...
5199  25999  ...  Perhaps you’ve seen the new TV series whose pi...

[5200 rows x 4 columns]

In [6]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [7]:
df2.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [8]:
df = df.fillna(' ')

In [9]:
df2 = df2.fillna(' ')

In [10]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [11]:
df2.isnull().sum()

id        0
title     0
author    0
text      0
dtype: int64

In [12]:
tf.__version__

'2.10.0'

In [13]:
df['containt'] = df['title'] + ' ' + df['author']

In [14]:
df

          id  ...                                           containt
0          0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  ...  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2          2  ...  Why the Truth Might Get You Fired Consortiumne...
3          3  ...  15 Civilians Killed In Single US Airstrike Hav...
4          4  ...  Iranian woman jailed for fictional unpublished...
...      ...  ...                                                ...
20795  20795  ...  Rapper T.I.: Trump a ’Poster Child For White S...
20796  20796  ...  N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797  20797  ...  Macy’s Is Said to Receive Takeover Approach by...
20798  20798  ...  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799  ...            What Keeps the F-35 Alive David Swanson

[20800 rows x 6 columns]

In [15]:
pStem = PorterStemmer()

In [16]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
#     print('orignal = ',stemmed_content)
    stemmed_content = stemmed_content.lower()
#     print('lower = ',stemmed_content)
    stemmed_content = stemmed_content.split()
#     print('split = ',stemmed_content)
    stemmed_content = [pStem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
#     print('stem = ',stemmed_content)
    stemmed_content =' '.join(stemmed_content)
#     print('join = ',stemmed_content)
    return stemmed_content

In [17]:
df['containt'] = df.containt.apply(stemming)

In [54]:
X=df.containt.values
print(X)
X = np.asarray(X)
print(X[0])
# len(X[0])
# np.maxlen(X)

['hous dem aid even see comey letter jason chaffetz tweet darrel lucu'
 'flynn hillari clinton big woman campu breitbart daniel j flynn'
 'truth might get fire consortiumnew com' ...
 'maci said receiv takeov approach hudson bay new york time michael j de la merc rachel abram'
 'nato russia hold parallel exercis balkan alex ansari'
 'keep f aliv david swanson']
hous dem aid even see comey letter jason chaffetz tweet darrel lucu

In [55]:
Y = df.label.values

In [56]:
vectorizor = TfidfVectorizer()
vectorizor.fit(X)

X=vectorizor.transform(X)

In [62]:
print(X[1])

  (0, 16799)	0.30071745655510157
  (0, 6816)	0.1904660198296849
  (0, 5503)	0.7143299355715573
  (0, 3568)	0.26373768806048464
  (0, 2813)	0.19094574062359204
  (0, 2223)	0.3827320386859759
  (0, 1894)	0.15521974226349364
  (0, 1497)	0.2939891562094648

In [60]:
max(X_train)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all().

In [33]:
model=Sequential()
model.add(Embedding(5000,40,input_length=20))
model.add(LSTM(150))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 20, 40)            200000

 lstm_3 (LSTM)               (None, 150)               114600

 dense_3 (Dense)             (None, 1)                 151

=================================================================
Total params: 314,751
Trainable params: 314,751
Non-trainable params: 0
_________________________________________________________________
None

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.23, random_state=42)

In [64]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=15,batch_size=64)

InvalidArgumentError: {{function_node __wrapped__SerializeManySparse_device_/job:localhost/replica:0/task:0/device:CPU:0}} indices[1] = [0,11807] is out of order. Many sparse ops require sorted indices.
    Use `tf.sparse.reorder` to create a correctly ordered copy.

 [Op:SerializeManySparse]